.videoBG {
	position:fixed;
	z-index: -1;
	min-width:100%;
	min-height: 100%;     
	height:auto;
	width: auto;
	bottom: 0;
	right: 0;
}

*{
	margin:0px;
	padding:0px;
}

.avatar
{
	border-radius: 100px;
	width: 75px;
	height: 75x;
	position:absolute;
	top: -40px;
	left:calc(55% - 50px);
}

.page
{
	padding: 50px 30px;
	border-radius: 20px;
	width:420px;
	height:560px;
	background-image: linear-gradient(145deg, #F4A460, #DEB887);
	color:rgb(5, 41, 46);
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
}

h1
{
	margin: 0px;
	padding: 0 0 20px;
	text-align: center;
	font-size: 36px;

}

.loginbox ,p
{
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	text-align: initial;
}

form
{
	text-align: center;
}

.loginbox ,input
{
	width: 100%;
	margin-bottom: 10px;
}

.loginbox , input[type="text"] ,input[type="password"] 
{
	border:none;
	border-radius:5px;
	background: seashell;
	width: 80%;
	height: 30px;
}

.loginbox , input[type="submit"]
{
	border:none;
	border-radius:20px;
	background:crimson;
	font-size: 15px;
	width: 40%;
	height: 30px;
}

.loginbox , input[type="submit"]:hover
{
	cursor: pointer;
	background: gold;
	color: crimson;

}

