@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

*{
    margin: 0px;
    padding: 0px;
}

body
{
    background-image: linear-gradient(165deg,#DEB887,#2F4F4F );
    background-size: cover;
}

#wrapper
{
    background-image: linear-gradient(125deg,#2F4F4F,#808000 );
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 8px;
    border-radius:4px;
}

.upper_left
{
    
    color:orange;
    margin: 2px;
    padding: 2px;
    position: relative;
    transform: translate(1%,25%);
}

.link
{
    text-decoration: none;
    color: whitesmoke;
}

.upper_right
{
    text-align: right;
    position: initial;
    text-decoration: none;
    text-transform: uppercase;
    transform: translate(0%,-40%);
}

a
{
    text-decoration: none;   
}

.active
{
    color: cornsilk;
	text-decoration: none;
	padding: 5px;
}

.active:hover
{
    cursor: pointer;
    color: crimson;
	border-radius: 5px;
}

.menu
{
    background-image: linear-gradient(125deg,#2F4F4F,#808000 );
    margin: 5px;
    padding: 2px;
    height: 85%;
    width: 200px;
    border-radius: 4px;
}

 ul li 
{
    text-transform: uppercase;
    color:whitesmoke;
    transition:0.6s ease;
    text-align: center;
    padding: 10px;
}

ul li:hover
{
    cursor: pointer;
    color: tomato;
}

.dropbtn {
    text-transform: uppercase;
    background-color: rgba(47, 79, 79, 0);
    color: whitesmoke;
    padding: 18px;
    font-size: 15px;
    border: none;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: initial;
    transform: translate(22%,15%);
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display:none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown*/ 
  .dropdown:hover .dropbtn {background-color: #3e8e41; border-radius: 4px;}

.box
{
    background-image: linear-gradient(225deg, #FA8072, #808000);
    padding:50px 30px; 
	top:50%;
	left:50%;
    position:absolute;
	transform:translate(-50%,-50%);
    width:auto;
    height:auto;
    border-radius: 12px;
    text-align: center;
}

